doctype html
html
    include includes/head.pug
    body
        include includes/nav.pug
        include includes/deletedialog.pug
        div#locale(style='display:none', name=locale)
            p.sight
                | #{ __('Sight')}
            p.service
                | #{ __('Service')}
            p.food
                | #{ __('Food')}
        .container(style='margin-top:-15px; margin-bottom:50px')
            h2 #{ __('List')}
            div.typeFilterContent
                | #{ __('Filter by type:')} 
                label.checkbox-inline(for='all')
                    a.all.btn.btn-primary.btn-sm(style='margin-left:-20px') #{ __('All')}
                    input#all.checkbox-inline.resetFilters(style='display:none;', checked='', onchange='resetFilters()', type='checkbox', name='type', value=__('Food') + '|' + __('Service') + '|' + __('Sight'))
                label.checkbox-inline(for='sight')
                    a.type.btn.btn-sm(style='margin-left:-20px') #{ __('Sight')}
                    input#sight.checkbox-inline.filter(style='display:none', onchange='filterType(this)', type='checkbox', name='type', value=__('Sight'))
                label.checkbox-inline(for='food')
                    a.type.btn.btn-sm(style='margin-left:-20px') #{ __('Food')}
                    input#food.checkbox-inline.filter(style='display:none', onchange='filterType(this)', type='checkbox', name='type', value=__('Food'))
                label.checkbox-inline(for='service') 
                    a.type.btn.btn-sm(style='margin-left:-20px') #{ __('Service')}
                    input#service.checkbox-inline.filter(style='display:none', onchange='filterType(this)', type='checkbox', name='type', value=__('Service'))
            table.table.table-striped.table-bordered
                thead
                    tr
                        th #
                        th #{ __('Name')}
                        th #{ __('Address')}
                        th #{ __('City')}
                        th #{ __('Type')}
                        th #{ __('Modify')}
                        th #{ __('Delete')}
        script(src='/js/list.js')
        script(src='/js/delete.js')
